[Desktop Entry]
Comment[en_US]=
Comment=
Exec=bash -c 'TMPFILE=$(mktemp /tmp/deckops_XXXXXX.sh) && curl -sL https://raw.githubusercontent.com/GalvarinoDev/DeckOps/main/launcher.sh -o "$TMPFILE" && chmod +x "$TMPFILE" && bash "$TMPFILE"; rm -f "$TMPFILE"'
GenericName[en_US]=
GenericName=
MimeType=
Name[en]=DeckOps
Name=DeckOps
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
